{% extends "../../shared/blocks/section/section.twig" %}

{% block section %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Feature section</h1>
      </div>
    </div>
  </div>
{% endblock %}
