
{% set uniqueId = "id_c498d312-c9f8-43c9-9b11-ec16f21cc252" %}
{% import "../../shared/textBox/textBox.twig" as textBox %}
{% set heading = 'Feature section' %}

<section data-id="{{ uniqueId }}" class="section">
  <div class="container">
    <h1>{{ heading }}</h1>
    <div class="row">
      {% for item in featureSection %}
        <div class="col" style="--col-xs: 12; --col-sm: 6; --col-md: 4">
          {{ textBox.render({ title: item.title, text: item.text }) }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
