{% import "../../shared/textBox/textBox.twig" as textBox %}

<section class="section">
  <div class="container">
    <h1>Feature section</h1>
    <div class="row">
      {% for item in featureSection %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {{ textBox.render({ title: item.title, text: item.text }) }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
