{% extends "./abstracts/layout.twig" %}
{% import "./shared/button/button.twig" as button %}

{% block body %}


  <h1>Hello world</h1>

  {% include "./containers/home/featureSection.twig" %}


  <div class="container">
    <h2>Test Button</h2>
    {{button.render({ text: 'Click me' })}}
    {{button.render({ text: 'Click link', href: "#" })}}
  </div>

{% endblock %}
